h1 {
	font-size: 60px;
	padding: 10px;
	background-color: pink;
	color: green;
	margin: auto;
	text-align: center;
}

h2 {
	font-size: 40px;
	padding-left: 60px;
}

h3 {
	font-size: 30px;
	padding-left: 30px;
}

img {
	width: 50%;
	border-radius: 8px;
}

figcaption {
	font-style: italic;
}

#theWholeDiv {					/* this is my id */
	margin: 15px;
}

.tableOfContents {			/* this is my class */
	background-color: pink;
}